@font-face {
  font-family: 'HammersmithOne';
  src: url(./assets/fonts/HammersmithOne-Regular.ttf);
}

:root {
  --c-dark: rgb(21, 21, 24);
  --c-nav: #1a1a1d; /* Color de la barra de navegación */
  --c-brand: rgb(220 53 69) ; /* Color de la marca */
  --c-brand-light:  #db6d6d; /* Color de la marca en hover */
  --c-brand-rgb: 201, 18, 27; /* Color de la marca en RGB */
  --c-body: #727272; /* Color de texto secundario */
  --font-base: 'HammersmithOne', sans-serif; /* Fuente base */
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.541); /* Sombra */
  --transition: all 0.5s ease; /* Transición */
}

body {
  font-family: var(--font-base);
  color: var(--c-brand);
  margin: 0;
  padding: 0;
  background-color: var(--c-dark);
}